.user-top-bar {
    padding: 50rpx 40rpx;
    background: #ffffff;
    margin-bottom: 20rpx;
}

.avatar {
    width: 100rpx;
    height: 100rpx;
    border-radius: 50%;
}

.userinfo {
    padding-left: 40rpx;
}

.pac {
    padding: 50rpx 190rpx 0 190rpx;
}
.card,.apply{
    background: #ffffff;
    padding: 20rpx 50rpx;
    margin-bottom: 20rpx;
}
.card .icon,.apply .icon{
    padding-right: 18rpx;
}