@import url("~mpvue-wxparse/src/wxParse.css");

.book-cover img {
    width: 40%;
    margin: 30rpx 0;
    border-radius: 4px;
    overflow: hidden;
}
.bookinfo-wrap{
    font-size: 26rpx;
    background: #ffffff;
    padding: 20rpx 40rpx 40rpx 40rpx;
}
.locations-wrap{
    font-size: 26rpx;
    background: #ffffff;
    padding: 0 40rpx;
}

.row {
    padding-bottom: 10rpx;
}

.row-label {
    width: 24%;
}

.row-content {
    width: 74%;
    margin-left: 2%;
}

.title{
    font-size: 36rpx;
    padding-bottom: 18rpx;
}

.locations-wrap .row-content{
    text-align: right;
}